<head>
    <meta charset="UTF-8">
    <link type="text/css" href="/static/css/animals.css" rel="stylesheet" />      <!--Написать правильные ссылки-->
    <title>{{layout}}</title>                                        <!--Написать правильное название-->
</head>
<body>
<!--Список животных-->
{% extends 'layout.html' %}
{% block content %}
<h1>Список животных</h1>
<form action="" method="post" class="form-new-animal" enctype=multipart/form-data>
    <a class="add_sign" href="{{ url_for('animals') }}">Обновить</a>

<rect>
    {% for an in list_of_animal %}
    <ul>
    <a href="{{ url_for('animal', alias=an.type) }}">{{ an.type }}</a>
    </ul>
    {% endfor %}
    {% endblock %}
</rect>
<f></f>
</form>



</body>
</html>