{% extends 'layout.html' %}
{% block content %}

{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{ cat }}">{{ msg }}</div>
{% endfor %}

<h1>{{title}}</h1>
<form action="" method="post" class="delete_animals" enctype=multipart/form-data>
<button><a href="{{ url_for('delete_animal') }}">Обновить страницу</a></button>
{% for an in list_of_animal %}
    <p><label>{{ an.type }}</label></p>
{% endfor %}
<p><label>Введите вид животного, которое нужно удалить: </label><input type="text" name="animal" value="" />
<p><input type="submit" value="Удалить" />
</form>
{% endblock %}