<head>
    <meta charset="UTF-8">
    <link type="text/css" href="/static/css/deleting_animals.css" rel="stylesheet" />      <!--Написать правильные ссылки-->
    <title>{{layout}}</title>                                        <!--Написать правильное название-->
</head>
<body>
{% extends 'layout.html' %}

{% block content %}

<h1>Удалить животное</h1>
<form action="" method="post" class="delete_animal" enctype=multipart/form-data>
    <a class="add_sign" href="{{ url_for('delete_animal') }}">Обновить</a>

    <rect>
        <p> <input class="typ_delet" type="text" name="animal" value="" required placeholder="Введите вид животного, которое нужно удалить" />
        <input type="submit" value="Удалить" />
        {% for an in list_of_animal %}
        <p><label style="margin-left:55px">{{ an.type }}</label></p>
        {% endfor %}
    </rect>
</form>

{% endblock %}


</body>
