<head>
    <meta charset="UTF-8">
    <link type="text/css" href="/static/css/staff.css" rel="stylesheet" />      <!--Написать правильные ссылки-->
    <title>{{layout}}</title>                                        <!--Написать правильное название-->
</head>
<body>
    {% extends 'layout.html' %}
    {% block content %}

<form action="" method="post" class="form-staff" enctype=multipart/form-data>
    <a class="add_sign" href="{{ url_for('staff', alias=animal.type) }}">Обновить</a>
    
<div class="cleaning">
    <c>Уборка вольера</c>
    <input class="data_clean" type="text" name="date_clean" placeholder="Введите дату">
    <input class="time_clean" type="text" name="time_clean" placeholder="Введите время">
    <p><input type="submit" value="Отправить данные"></p>
</div>
<div class="food">
    <c>Питание</c>
    <input class="data_food" type="text" name="date_food" placeholder="Введите дату">
    <input class="time_food" type="text" name="time_food" placeholder="Введите время">
    <p><input type="submit" value="Отправить данные"></p>
</div>
<div class="water_treatments">
    <c>Водные процедуры</c>
    <input class="data_wat" type="text" name="date_of_procedures" placeholder="Введите дату">
    <input class="time_wat" type="text" name="time_water" placeholder="Введите время">
    <p><input type="submit" value="Отправить данные"></p>
</div>
<rect>
    <c>Рекомендации</c>
    <n>{% for message in messages %}
    <div class="message">{{ message.animal_id }}  {{ message.text }}</div>
    {% endfor %}
    </n>
</rect>
<rect1>
    <c>История</c>
    <n>
    {% for clean in list_cleaning %}
    <div class="clean">Вольер {{ animal.type[:-1] }}ы убран {{ clean.date_clean }} в {{ clean.time_clean }}</div>
    {% endfor %}
    {% for food in list_food %}
    <div class="fod">{{ animal.type }} покормлена {{ food.date_food }} в {{ food.time_food }}</div>
    {% endfor %}

    {% for water in list_water %}
    <div class="water">{{ animal.type }} намыта {{ water.date_of_procedures }} в {{ water.time_water }}</div>
    {% endfor %}

    </n>
</rect1>
<f></f>
</form>
</body>
{% endblock %}