{% extends 'layout.html' %}

{% block content %}
<h1>{{title}}</h1>
<form action="" method="post" class="form-staff">
<button><a href="{{ url_for('staff', alias=animal.type) }}">Обновить страницу</a></button>
<div class="cleaning">
    <p>Уборка вольера</p>
    <input type="text" name="date_clean" placeholder="Введите дату">
    <input type="text" name="time_clean" placeholder="Введите время">
</div>
<p><input type="submit" value="Отправить данные"></p>
<div class="food">
    <p>Питание</p>
    <input type="text" name="date_food" placeholder="Введите дату">
    <input type="text" name="time_food" placeholder="Введите время">
</div>
<p><input type="submit" value="Отправить данные"></p>
<div class="water_treatments">
    <p>Водные процедуры</p>
    <input type="text" name="date_of_procedures" placeholder="Введите дату">
    <input type="text" name="time_water" placeholder="Введите время">
</div>
<p><input type="submit" value="Отправить данные"></p>
</form>

{% for message in messages %}
<div class="message">{{ message.animal_id }}  {{ message.text }}</div>
{% endfor %}

{% for clean in list_cleaning %}
<div class="clean">Вольер {{ animal.type[:-1] }}ы убран {{ clean.date_clean }} в {{ clean.time_clean }}</div>
{% endfor %}

{% for food in list_food %}
<div class="food">{{ animal.type }} покормлена {{ food.date_food }} в {{ food.time_food }} </div>
{% endfor %}

{% for water in list_water %}
<div class="water">{{ animal.type }} намыта {{ water.date_of_procedures }} в {{ water.time_water }}</div>
{% endfor %}

{% endblock %}