/*информация о животном + отчеты*/
table{
    position: absolute;
    width: 850px;
    height: 500px;
    left: 350px;
    top: 130px;
    background: #F6FBF9;
    border-radius: 49.0901px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align:left;
    color: #000000;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 120px;
}

.download_sing{
    position: absolute;
    margin-bottom: auto;
    left:650px;
    top: 653px;
    color: #FFFFFF;
    text-decoration: none;
    padding:10px 50px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    background: #005E34;
    border-radius: 23px;
    border: 10px solid white;
}
.form-animal{
    position: absolute;
    width: 850px;
    height: 320px;
    left: 350px;
    top: 733px;
    background: #F6FBF9;
    border-radius: 49.0901px;
    padding-left: 40px;
    padding-top: 30px;
}
label{
    text-decoration: none;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align:left;
    color: #000000;  
}
input[type=file] {
    left:800px;
    width: 350px;
    max-width: 100%;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    color: black;
    font-size: 20px;
    padding: 5px;
    background: #fff;
}
input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #005E34;
    padding: 10px 20px;
    border-radius: 23px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}
  
  input[type=file]::file-selector-button:hover {
    background: darkgreen;
}
.recommend{
    margin-top: 1px;
    width: 90%;
    height: 35px;
    color: #000000;
    background-color: rgb(218, 218, 218);
    border-radius: 15px;
    border-color: rgb(182, 182, 182);
    border-style: none;
    padding-left: 20px;
}
.id_recommend{
    margin-top: 1px;
    width: 90%;
    height: 35px;
    color: #000000;
    background-color: rgb(218, 218, 218);
    border-radius: 15px;
    border-color: rgb(182, 182, 182);
    border-style: none;
    padding-left: 20px;
}

input {
    margin-right: 20px;
    border: none;
    background: #005E34;
    padding: 10px 40px;
    border-radius: 23px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
   
}
d{
    position: absolute;
    padding: 30px 30px;
    margin-bottom: 30px ;
    width: 830px;
    height: 300px;
    left: 350px;
    top:1140px;
    background: #F6FBF9;
    border-radius: 49.0901px;
    
}
c{
    left: 370px;
    top:1330px;
    padding:10px 30px;
    color: #FFFFFF;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    background: #005E34;
    font-size: 20px;
    border-radius: 23px;
    margin-left: 20px;
    margin-top: 20px;
}
.staff_sing{
    position: absolute;
    top: 560px;
    left: 450px;
    color: #FFFFFF;
    text-decoration: none;
    padding:10px 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:350px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    background: #005E34;
    text-align:center;
    border-radius: 23px;
}
.medic_sing{
    position: absolute;
    top: 560px;
    left: 130px;
    color: #FFFFFF;
    text-decoration: none;
    padding:10px 30px;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left:350px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    background: #005E34;
    text-align:center;
    border-radius: 23px;
}
.add_sing{
    position: absolute;
    top: 560px;
    left:328px;
    color: #FFFFFF;
    text-decoration: none;
    padding:11px 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:350px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    background: #005E34;
    text-align:center;
    border-radius: 20px;
}
f{
    position: absolute;
    top:90px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align:left;
    color: #000000;
}
rect{
    position: absolute;
    width: 800px;
    height: 220px;
    left: 350px;
    top: 1400px;
    background: transparent;
}
.download_sing:hover,  .ddd_sign:hover, .staff_sing:hover, .medic_sing:hover, .add_sing:hover {
    background-color: darkgreen;
    }
.download_sing:active, .ddd_sign:active, .staff_sing:active, .medic_sing:active, .add_sing:active {
    background-color: rgb(76, 110, 18);
}
.empty{
    position: relative;
    height: 30px;
    width: 2px;
    top: 1100px;
}