.register_menu{
    position: relative;
    top: 80px;
    left: 400px;
    width: 700px;
    height: 800px;
    margin-bottom: 130px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 49.0901px;
}
.animal_add_info{
    margin-top: 1px;
    margin-left: 15%;
    width: 70%;
    height: 35px;
    background-color: rgb(218, 218, 218);
    border-radius: 15px;
    border-color: rgb(182, 182, 182);
    border-style: none;
    padding-left: 20px;
}
.reg_button_animal{
    width: 27.6%;
    height: 43px;
    margin-left: 57.5%;
    margin-top: -6.4%;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    background: #005E34;
    border-color: #005E34;
    border-style: none;
    text-align:center;
    border-radius: 23px;
}
.reg_button_animal:hover{
    background-color: darkgreen;
    }
.reg_button_animal:active{
    background-color: rgb(76, 110, 18);
}

input[type=file] {
    left:800px;
    width: 35%;
    height: 50px;
    max-width: 100%;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    color: white;
    font-size: 20px;
    padding: 5px;
}
input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #005E34;
    padding: 10px 20px;
    border-radius: 23px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}
  
input[type=file]::file-selector-button:hover {
    background: darkgreen;
}
input[type=file]::file-selector-button:active {
    background: rgb(76, 110, 18);
}