
table{
    position: absolute;
    width: 700px;
<<<<<<< Updated upstream
    height: 380px;
    left: 450px;
    top: 197px;
=======
    height: 430px;
    left: 420px;
    top: 190px;
>>>>>>> Stashed changes
    background: #F6FBF9;
    border-radius: 49.0901px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align:left;
    color: #000000;
<<<<<<< Updated upstream
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.post_sign{
    color: #FFFFFF;
    text-decoration: none;
    padding:10px 30px;
=======
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.post_sign{
    position: absolute;
    top: 350px;
    left:410px;
    color: #FFFFFF;
    text-decoration: none;
    padding:15px 30px;
>>>>>>> Stashed changes
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    background: #005E34;
    border-radius: 23px;
}
<<<<<<< Updated upstream
.animal_sign{
    color: #FFFFFF;
    text-decoration: none;
    padding:10px 10px;
=======
.empty{
    position: relative;
    color: #FFFFFF;
    text-decoration: none;
    padding:15px 1px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    background: white;
    border-radius: 23px;
    margin-bottom: 30px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.animal_sign{
    top: 350px;
    left:90px;
    position: absolute;
    color: #FFFFFF;
    text-decoration: none;
    padding:15px 30px;
>>>>>>> Stashed changes
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    background: #005E34;
    border-radius: 23px;
<<<<<<< Updated upstream
=======
    margin-bottom: 30px;
>>>>>>> Stashed changes
}
.post_sign:hover, .animal_sign:hover {
    background-color: darkgreen;
    }
.post_sign:active, .animal_sign:active {
    background-color: rgb(76, 110, 18);
}
