/*список сотрудников*/
h1{
    position: absolute;
    width: 300px;
    height: 40px;
    left: 335px;
    top: 73px;
    color: #FFFFFF;
    text-decoration: none;
    padding:18px 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:15px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    background: #5A8B47;
    border-radius: 23px;
}
rect{
    position: absolute;
    margin-bottom: 30px;
    width: 800px;
    height: 510px;
    left: 350px;
    top: 170px;
    background: #F6FBF9;
    border-radius: 49.0901px;
    padding-left: 40px;
    padding-top: 30px;
}
f{
    position: absolute;
    width: 800px;
    height: 220px;
    left: 350px;
    top: 600px;
    background: transparent;
}

ul{
    font-family: 'Karla';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    color: black;
}
.add_sign{
    position:fixed;
    z-index: 3;
    top: -2px;
    left: 620px;
    color: #FFFFFF;
    text-decoration: none;
    padding:18px 46.5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:350px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    background: #005E34;
    border-radius: 23px; 
}
.add_sign:hover{
    background-color: darkgreen;
    }
.add_sign:active{
    background-color: rgb(76, 110, 18);
}
