
table{
    position: absolute;
    width: 700px;
    height: 380px;
    left: 450px;
    top: 197px;
    background: #F6FBF9;
    border-radius: 49.0901px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align:left;
    color: #000000;
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 30px;
}

.post_sign{
    color: #FFFFFF;
    text-decoration: none;
    padding:10px 30px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    background: #005E34;
    border-radius: 23px;
}
.animal_sign{
    color: #FFFFFF;
    text-decoration: none;
    padding:10px 10px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    background: #005E34;
    border-radius: 23px;
}
.post_sign:hover, .animal_sign:hover {
    background-color: darkgreen;
    }
.post_sign:active, .animal_sign:active {
    background-color: rgb(76, 110, 18);
}
.empty{
    color: white;
}