.main_logo {
    position: absolute;
    width: 407px;
    height: 165px;
    right: 0px;
    bottom: 0px;
}

.flash {padding: 10px;}
.flash.success {
	border: 1px solid #21DB56;
	background: #AEFFC5;
}
.flash.error {
	border: 1px solid #FF4343;
	background: #FF9C9C;
}